---
import React from "react";
import "../styles/manage-product.css";

import ManageProduct from "../components/ManageProduct";


---

<html lang="en">
  <body>
    <ManageProduct client:load />
  </body>
</html>
